<p id="notice"><%= notice %></p>

<h1>Financial Planners</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_planners.each do |financial_planner| %>
      <tr>
        <td><%= financial_planner.name %></td>
        <td><%= financial_planner.email %></td>
        <td><%= financial_planner.phone_number %></td>
        <td><%= link_to 'Show', financial_planner %></td>
        <td><%= link_to 'Edit', edit_financial_planner_path(financial_planner) %></td>
        <td><%= link_to 'Destroy', financial_planner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial Planner', new_financial_planner_path %>
